/**********
BODY STYLES
**********/

body {
	background: url('../images/crossword.png') #f5f5f5;
	background-repeat: repeat repeat;
	font-family: "Times New Roman", serif;
}


/**********
MAIN CONTENT STYLES
**********/


/*Main web page content centered vertically*/

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

.main-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 90%;
	border-radius: 5px;
	padding: 1em;
}


/**********
CLOCK DIV
**********/

#clock {
	font-size: 5em;
	text-align: center;
}


/*clock text*/

#clock {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0.5em;
}


/*quote text*/

h2 {
	font-family: 'EB Garamond', serif;
	font-size: 2.2em;
}


/*quote author text*/

p {
	font-family: 'Open Sans', sans-serif;
}


/**********
QUOTES DIV
**********/


/*style for slider dots*/

.slick-dots li button::before {
	font-size: 14px;
}

.slick-dots {
	bottom: -35px;
}

.slick-dots li.slick-active button:before {
	color: #bb0a1e;
}


/**********
FOOTER
**********/

footer {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
}

footer p {
	color: #333;
}

#heart {
	color: #bb0a1e;
}

a {
	text-decoration: none;
	color: #bb0a1e;
}

a:hover {
	text-decoration: underline;
}

.quote-about-time {
	text-align: center;
	padding-bottom: 10px;
}


/*Sticky Footer styles*/

.footer,
.push {
	height: 1em;
}