/**********
BODY STYLES
**********/

body {
	background-color: #f5f5f5;
	font-family: "Times New Roman", serif;
}


/**********
CLOCK DIV
**********/

#clock {
	font-size: 5em;
	text-align: center;
}


/**********
QUOTES DIV
**********/

#quotes {
	background-color: grey;
	width: 33%;
	margin-right: auto;
	margin-left: auto;
	border-color: white;
	border-style: solid;
	border-radius: 5px;
	margin-top: 20px;
	padding: 20px;
	height: auto;
	color: white;
}

h2 {
	font-size: 30px;
	text-align: center;
}

.quote-text {
	font-size: 30px;
}

.author-text {
	font-size: 20px;
	font-style: italic;
}


/**********
FOOTER
**********/

footer {
	text-align: center;
}

#heart {
	color: #bb0a1e;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}